.header {
    background-color: rgb(51, 48, 48);
    padding: 15px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header__menu {
    display: flex;
    align-items: center;
    font-size: 22px;
    list-style: none;
    color: #fff;
}
.header__menu li {
    margin-right: 40px;
}
.header__menu li:last-child {
    margin-right: 0;
    margin-left: auto;
}
.header__logo {
    width: 70px;
    height: 70px;
}
.powered {
    width: 150px;
}
.git {
    width: 35px;
    height: 35px;
}