.header {
    background-color: rgb(51, 48, 48);
    padding: 15px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header__menu {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    list-style: none;
    color: #fff;
}
.header__logo {
    width: 70px;
    height: 70px;
}