.form {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(51, 48, 48);
  background-color: rgb(80, 80, 80);
  border-radius: 5px;
  margin: 200px auto 0 auto;
  max-width: 600px;
  color: #fff;
  padding: 20px;
}
.form_title {
  text-align: center;
}
.form_input {
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid rgb(51, 48, 48);
}
.form_submit {
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(51, 48, 48);
  color: #fff;
  cursor: pointer;
}
