.details {
    position: relative;
    display: flex;
    height: 730px;
    background-color: rgb(80, 80, 80);
}
.details__bgc {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.details__content {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px 15px 15px 15px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    position: absolute;
    color: #fff;
}
.details__content img {
    max-width:  300px;
    height: auto;
    border-radius: 15px 0 0 15px;
}
.details__overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.movie__info {
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 48, 48);
    padding: 25px;
    color: #fff;
}
.info__img {
    width: 40px;
    height: 40px;
}
.actors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.favorite {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    :hover {
        transform: scale(0.95);
    }
}
.favourite__img {
    width: 50px;
    height: 50px;
}