.preview {
    position: relative;
    display: flex;
    height: 730px;
    background-color: rgb(80, 80, 80);
}
.preview__bgc {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.preview__info {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    max-width: 700px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    position: absolute;
    color: #fff;
}
.preview__info img {
    max-width:  300px;
    height: auto;
}
.poster__title {
    font-weight: 700;
    font-size: 50px;
}
.poster__overview {
    margin: 20px 0 0 0;
    font-size: 20px;
}
.movie__info {
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 48, 48);
    padding: 25px;
    color: #fff;
}
.info__img {
    width: 40px;
    height: 40px;
}