.preview {
    //position: relative;
    display: flex;
    height: 730px;
    background-color: rgb(80, 80, 80);
    user-select: none;
    min-width: 100%;
    max-width: 100%;
}
.preview__bgc {
    width: 100%;
    object-fit: cover;
}
.preview__info {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 10px;
    max-width: 700px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    position: absolute;
    color: #fff;
}
.poster__title {
    font-weight: 700;
    font-size: 50px;
}
.poster__overview {
    margin: 20px 0 0 0;
    font-size: 20px;
}
.window {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.previews {
    display: flex;
    //translate
}
.prev {
    position: absolute;
    left: 20px;
    top: 50%;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}
.next {
    position: absolute;
    right: 20px;
    top: 50%;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}


@media screen and (max-width: 800px) {
    .poster__title {
        font-size: 30px;
    }
    .poster__overview {
        font-size: 16px;
    }
}