.header {
    background-color: rgb(51, 48, 48);
    padding: 10px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header__menu {
    display: flex;
    align-items: center;
    font-size: 22px;
    list-style: none;
    color: #fff;
}
.header__menu li {
    margin-right: 40px;
}
.header__menu li:last-child {
    margin-right: 0;
    margin-left: auto;
}
.header__logo {
    width: 70px;
    height: 70px;
}
.powered {
    width: 150px;
}
.git {
    width: 35px;
    height: 35px;
}
.menu_btn {
    position: relative;
 }
.menu_btn__line,
.menu_btn__line::before,
.menu_btn__line::after {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
}
.menu_btn__line::after  {
    content: '';
    top: -7px;
}
.menu_btn__line::before {
    content: '';
    top: 7px;
}


@media screen and (max-width: 800px) {
    .header__logo {
        width: 40px;
        height: 40px;
    }
    .git {
        width: 20px;
        height: 20px;
    }
    .header__menu {
        font-size: 16px;
    }
}