.details {
    position: relative;
    display: flex;
    height: 730px;
    background-color: rgb(80, 80, 80);
}
.details__bgc {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.details__content {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px 15px 15px 15px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    position: absolute;
    color: #fff;
}
.details__content img {
    max-width:  300px;
    height: auto;
    border-radius: 15px 0 0 15px;
}
.details__overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.movie__info {
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 48, 48);
    padding: 15px 25px 15px 25px;
    color: #fff;
}
.movie__info span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.info__img {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.actors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
}
.favorite {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
:hover {
    transform: scale(0.95);
}
}
.videoplayer {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    padding: 20px;
    margin: 0 auto;
}
.favourite__img {
    width: 50px;
    height: 50px;
}
.raiting__green {
    font-size: 22px;
    font-weight: 700;
    color: rgb(0, 255, 13);
}
.raiting__yellow {
    font-size: 22px;
    font-weight: 700;
    color: rgb(255, 238, 0);
}
.raiting__red {
    font-size: 22px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}
.load {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}